<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.board.mapper.MemberMapper">

	<insert id="insertMember" parameterType="MemberVO">

		INSERT INTO MEMBER
		(
		ID
		,PW
		,NAME
		,PHONE
		,EMAIL
		,BIRTHDATE
		,REGDATE
		)
		VALUES
		(
		#{id}
		,#{pw}
		,#{name}
		,#{phone}
		,#{email}
		,#{birthdate}
		,sysdate
		)
	</insert>

	<select id="login" parameterType="MemberVO" resultType="MemberVO">
		SELECT
		ID
		,PW
		,NAME
		,PHONE
		,EMAIL
		,BIRTHDATE
		,REGDATE
		FROM
		MEMBER
		WHERE
		ID=#{id} AND
		PW=#{pw}

	</select>
</mapper>